USE [master]
GO
/****** Object:  Database [Lottery]    Script Date: 8/17/2021 11:22:55 AM ******/
CREATE DATABASE [Lottery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lottery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Lottery.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lottery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Lottery_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lottery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lottery]
GO
/****** Object:  Table [dbo].[Drawing]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drawing](
	[DrawingId] [int] NOT NULL,
	[Date] [datetime] NULL,
	[Jackpot] [bigint] NULL,
	[GameId] [int] NULL,
 CONSTRAINT [PK_Drawing] PRIMARY KEY CLUSTERED 
(
	[DrawingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Games]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Games](
	[GameId] [int] NOT NULL,
	[GameName] [varchar](50) NOT NULL,
	[Rules] [varchar](1000) NULL,
	[GameDescription] [varchar](1000) NULL,
	[Cost] [int] NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Number]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Number](
	[NumberId] [int] NOT NULL,
	[Number] [int] NULL,
	[NumberTypeId] [int] NULL,
	[DrawingId] [int] NULL,
 CONSTRAINT [PK_Number] PRIMARY KEY CLUSTERED 
(
	[NumberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NumberType]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NumberType](
	[NumberTypeId] [int] NOT NULL,
	[NumberType] [varchar](50) NULL,
 CONSTRAINT [PK_NumberType] PRIMARY KEY CLUSTERED 
(
	[NumberTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Odds]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Odds](
	[GameOddsId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[match] [varchar](50) NULL,
	[prize] [int] NULL,
	[Odds] [varchar](50) NULL,
 CONSTRAINT [PK_Odds] PRIMARY KEY CLUSTERED 
(
	[GameOddsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[States]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] NOT NULL,
	[StateName] [varchar](50) NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StateToGame]    Script Date: 8/17/2021 11:22:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateToGame](
	[Id] [int] NOT NULL,
	[StateId] [int] NULL,
	[GameId] [int] NULL,
 CONSTRAINT [PK_StateToGame] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [FK_GameOdds_GameId]    Script Date: 8/17/2021 11:22:55 AM ******/
CREATE NONCLUSTERED INDEX [FK_GameOdds_GameId] ON [dbo].[Odds]
(
	[GameOddsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_GameToGameId]    Script Date: 8/17/2021 11:22:55 AM ******/
CREATE NONCLUSTERED INDEX [FK_GameToGameId] ON [dbo].[StateToGame]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_StateToStateId]    Script Date: 8/17/2021 11:22:55 AM ******/
CREATE NONCLUSTERED INDEX [FK_StateToStateId] ON [dbo].[StateToGame]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Drawing]  WITH CHECK ADD  CONSTRAINT [FK_Drawing_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([GameId])
GO
ALTER TABLE [dbo].[Drawing] CHECK CONSTRAINT [FK_Drawing_Game]
GO
ALTER TABLE [dbo].[Number]  WITH CHECK ADD  CONSTRAINT [FK_Number_Drawing] FOREIGN KEY([DrawingId])
REFERENCES [dbo].[Drawing] ([DrawingId])
GO
ALTER TABLE [dbo].[Number] CHECK CONSTRAINT [FK_Number_Drawing]
GO
ALTER TABLE [dbo].[Number]  WITH CHECK ADD  CONSTRAINT [FK_Number_NumberType] FOREIGN KEY([NumberTypeId])
REFERENCES [dbo].[NumberType] ([NumberTypeId])
GO
ALTER TABLE [dbo].[Number] CHECK CONSTRAINT [FK_Number_NumberType]
GO
ALTER TABLE [dbo].[Odds]  WITH CHECK ADD  CONSTRAINT [FK_GameOdds_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([GameId])
GO
ALTER TABLE [dbo].[Odds] CHECK CONSTRAINT [FK_GameOdds_GameId]
GO
ALTER TABLE [dbo].[StateToGame]  WITH CHECK ADD  CONSTRAINT [FK_StateToGame_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([GameId])
GO
ALTER TABLE [dbo].[StateToGame] CHECK CONSTRAINT [FK_StateToGame_GameId]
GO
ALTER TABLE [dbo].[StateToGame]  WITH CHECK ADD  CONSTRAINT [FK_StateToGame_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[StateToGame] CHECK CONSTRAINT [FK_StateToGame_StateId]
GO
USE [master]
GO
